<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <property name="LOG_HOME" value="${cbirch_workspace}/logs/"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{dd/MM HH:mm:ss} %-5level %C - %msg%n
            </Pattern>
        </layout>
    </appender>
    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender" level="info">
        <discriminator>
            <key>log-id</key>
            <defaultValue>0</defaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${running}"
                      class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${LOG_HOME}/${log-id}.log</file>
                <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                    <Pattern>
                        %d{dd/MM HH:mm:ss} %-5level %C - %msg%n
                    </Pattern>
                </encoder>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>${LOG_HOME}/${log-id}-%d{yyyy-MM-dd}.%i.txt</fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <maxFileSize>10MB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                    <maxHistory>6</maxHistory>
                </rollingPolicy>
            </appender>
        </sift>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="SIFT"/>
    </root>

</configuration>
